<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main id="note" class="container">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
    </main>
    
<%- include('partials/footer') %>